<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TableName</th>
      <th>Source_Count_Before_Remove_Dup</th>
      <th>Target_Count_Before_Remove_Dup</th>
      <th>Source_Count_After_Remove_Dup</th>
      <th>Target_Count_After_Remove_Dup</th>
      <th>Source_Dup_count</th>
      <th>Target_Dup_count</th>
      <th>Matching</th>
      <th>Data_NotMatching</th>
      <th>Source_Delta</th>
      <th>Target_Delta</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>account_details</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>